<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <title>HK Banks Exchange Rates</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" >
        $(document).ready( function () {
            $('#rateTable').DataTable({
                "bFilter": false,
                "lengthChange": false,
                "ordering": true        
            });
        });
    </script>

    <script>
        $(document).ready(function() {
        const rates = {{ rates | tojson }};
        let currentInput = "";
        let currentBank = rates[0]['Bank']; // Default to the first bank
        
        // Fill bank options
        for (let i = 0; i < rates.length; i++) {
            $('#bankSelect').append(new Option(rates[i]['Bank'], rates[i]['Bank']));
        }

        $('#bankSelect').on('change', function() {
            currentBank = this.value;
            $(currentInput).trigger("input"); // Trigger recalculation
        });

        function calculate() {
            let val = parseFloat($(currentInput).val());
            let hkdRate, usdRate;

            // Loop through the rates array to find the matching bank rates
            for (let i = 0; i < rates.length; i++) {
                if (rates[i]['Bank'] === currentBank) {
                    hkdRate = rates[i]['BuyHKD'];
                    usdRate = rates[i]['BuyUSD'];
                    break;
                }
            }

            if (!hkdRate || !usdRate) {
                console.error("Could not find rates for the selected bank.");
                return;
            }

            if (currentInput === "#cny") {
                let hkd = val / hkdRate;
                let usd = val / usdRate;
                $("#hkd").val(hkd.toFixed(2));
                $("#usd").val(usd.toFixed(2));
            } else if (currentInput === "#hkd") {
                let cny = val * hkdRate;
                let usd = val / usdRate;
                $("#cny").val(cny.toFixed(2));
                $("#usd").val(usd.toFixed(2));
            } else if (currentInput === "#usd") {
                let cny = val * usdRate * hkdRate;
                let hkd = val * usdRate;
                $("#cny").val(cny.toFixed(2));
                $("#hkd").val(hkd.toFixed(2));
            }
        }


        $("#cny, #hkd, #usd").on("focus", function() {
            currentInput = "#" + this.id;
        }).on("input", calculate);
        });
    </script>
  
    <style>
        @media (max-width: 390py) {
            .table-responsive {
            overflow-x: auto;
            }
        }
    </style>
</head>
<body>

    <div class="container mt-5">
        <div class="mt-5 d-flex flex-row flex-wrap justify-content-around">
            <h3 class="w-100 text-center">Exchange Rate Calculator</h3>
            <div class="py-1 d-flex justify-content-between">
                <label for="bankSelect">Choose a bank:</label>
                <select id="bankSelect">
                    <!-- Options filled by JS -->
                </select>
            </div>
            <div class="mt-2 py-1 d-flex justify-content-between">
                <label for="cny">CNY:</label>
                <input type="number" id="cny">
            </div>
            <div class="mt-2 py-1 d-flex justify-content-between">
                <label for="hkd">HKD:</label>
                <input type="number" id="hkd">
            </div>
            <div class="mt-2 py-1 d-flex justify-content-between">
                <label for="usd">USD:</label>
                <input type="number" id="usd">
            </div>
        </div>
        

        <table id="rateTable" class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Bank</th>
                    <th>Buy USD</th>
                    <th>Buy HKD</th>
                </tr>
            </thead>
            <tbody>
                {% for rate in rates %}
                <tr>
                    <td>{{ rate['Bank'] }}</td>
                    <td>{{ rate['BuyUSD'] }}</td>
                    <td>{{ rate['BuyHKD'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Last updated: {{ current_time }}</p>
    </div>

</body>
</html>
